@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
	/* padding: 1rem 0; */
	width: 75%;
	margin: auto;

	@media (--media-min-medium) {
		/* padding: 4rem 0; */
	}
}

.article {
	/* background-color: var(--color-white); */
	/* color: var(--color-black); */
	max-width: 100%;
	margin: 20px;
	padding: 1.5rem;
	box-sizing: border-box;
}

.label {
	font-size: var(--font-micro-size);
	line-height: var(--font-micro-line-height);
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-top: 1em;
}

.heading {
	font-size: var(--font-title3-size);
	line-height: var(--font-title3-line-height);
}

.label + .heading {
	margin-top: 0.25em;
}
